:root {
  --fontStack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fontSize-xxs: clamp(0.625rem, 1.75vw, 0.85rem);
  --fontSize-xs: clamp(0.75rem, 2vw, 1rem);
  --fontSize-sm: clamp(0.875rem, 2.5vw, 1.12rem);
  --fontSize-md: clamp(1rem, 3vw, 1.25rem);
  --fontSize-lg: clamp(1.5rem, 4vw, 2rem);
  --fontSize-xl: clamp(1.75rem, 5vw, 2.5rem);
  --fontSize-xxl: clamp(2rem, 6vw, 3rem);
  --red: #c10206;
  --darkRed: #a50113;
  --white: #fffbf2;
  --transparent: #fffbf2b8;
  --gray: #dfe2db;
  --black: #211d21;
  --darkBlue: #010a10;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--fontStack);
  background-color: var(--gray);
  color: var(--black);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--white);
  border-bottom: 2px solid var(--darkBlue);
  box-shadow: 0px 2px 2px 0px var(--black);
  padding: 2rem;
  .header__logo {
    width: 60px;
  }
}

.list {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  .list__item {
    font-family: var(--fontSize-xs);
    font-weight: 700;
  }
  .list__link {
    color: var(--black);
    text-decoration: none;
  }
}

.subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
  gap: 2rem;
  padding-block: 4rem;
  .subheader__title {
    font-size: var(--fontSize-xxl);
    font-weight: 700;
    line-height: 1.2;
    width: calc(100% - 3rem);
    .subheader__title-span {
      color: var(--red);
    }
  }
  .subheader__subtitle {
    font-size: var(--fontSize-xl);
    font-weight: 500;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.75fr;
  padding: 2.5rem 1rem;
  gap: 3rem;
  .grid__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 20px;
    padding: 1rem;
    .grid__section-img {
      width: 100%;
      cursor: pointer;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
      &.grid__section-img--square {
        height: 400px;
      }
    }
    .grid__section-title {
      font-size: var(--fontSize-lg);
      font-weight: 700;
    }
    .grid__section-date {
      color: var(--darkRed);
      font-weight: 500;
    }
    .grid__section-txt {
      line-height: 1.2;
      width: calc(100% - 2rem);
      font-size: var(--fontSize-sm);
    }
    &.grid__section--left {
      grid-area: 1 / 1 / 3 / 2;
      width: 100%;
    }
    &.grid__section--right {
      grid-area: 1 / 2 / 3 / 4;
      height: 600px;
    }
    &.grid__section--middle {
      grid-area: 1 / 2 / 2 / 3;
      width: 100%;
      background-color: var(--gray);
      z-index: 1;
      padding: 1rem 3rem 1rem 1rem;
    }
  }
}

.carrousel {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow-y: clip;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 2rem;
  padding-block: 0.5rem;
  padding-left: 56%;
  padding-right: 1rem;
  margin-bottom: 2rem;
  .carrousel__img {
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    width: min(250px, 33%);
    height: 400px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 5px 20px 0px var(--white);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--white);
  max-width: 100%;
  background-color: var(--darkBlue);
  border-top: 2px solid var(--black);
  box-shadow: 0px -2px 2px 0px var(--black);
  padding: 2rem;
  margin-top: 2rem;
  .footer__section {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    &.footer__section--column {
      flex-direction: column;
    }
    &.footer__section--icons {
      padding: 0.3rem 1rem;
      width: fit-content;
      background-color: var(--transparent);
    }
    .footer__section-title {
      font-size: var(--fontSize-md);
      font-weight: 700;
    }
    .footer__section-txt {
      font-size: var(--fontSize-sm);
    }
  }
}